.container{
  margin-top: 15px;
}

.item-menu{
  font-size: 18px;
  font-family: sans-serif;
}

:root{
  --color: #4f3961;
}

.paper-home{
  width: 100%;
  height: auto;
  margin-top: 15px;
  margin-bottom: 50px;
  background-color: #4f3961;
}

.container-paper{
  padding: 15px;
}

body{
  background-color: #eee;
}
.item-container{
  color: #ffff;
  font-size: 16px;
  font-family: sans-serif;
  padding: 15px;
  background-color: var(--color);
  box-shadow: 8px 8px 5px -8px var(--color);
}

.icone-busca{

  padding-top: 3px;
  padding-right: 3px;
}

@media(max-width: 600px){
  .icone-busca{
    padding-top: 0px;
    padding-right: 0px;
  } 
}
